@media (max-width: 480px) {
    .landing-container {
        position: absolute;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #FDF7ED;
    }

    .landing-container > img {
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        height: 475px;
        width: 100%;
    }

    .landing-container > h1 {
        color: #fff;
        width: 260px;
        height: 51px;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: -430px auto 380px;
        z-index: 999999;

    }

    .landing-container > div {
        text-align: center;
        padding: 40px 0 0;
    }

    .landing-container > div > p {
        width: 290px;
        margin: 0 auto 20px;
        color: #000;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.36px;
    }

    .landing-container > div > p:nth-child(2) {
        width: 325px;
    }

    .landing-container > a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #fff;
        background-color: #53CF85;
        border-radius: 20px;
        width: 264px;
        height: 60px;
        margin: 10px auto;
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.34px;
    }

    .landing-container > p {
        color: #3D3C3C;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
    }

    .landing-container > p > a {
        color: #4A4A4A;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }
    
}