.app_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 115px;
    color: white;
    background-color: grey;
    position: fixed;
    top:0;
    z-index: 9999;
 
}