@media(max-width: 480px) {
    .signup-container {
        position: absolute;
        height: 118%;
        width: 100%;
        padding: 110px 15px 80px;
        background-color: #FDF7ED;
    }

    .signup-container > div {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .signup-container > div > h1 {
        color: #3d3c3c;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

    }

    .signup-container > div > a {
        color: black;
        font-size: 20px;
    }

    .signup-container > form {
        padding: 5px;
        margin-top: 10px;
        height: 85%;
        display: flex;
        flex-direction: column;

    }

    .signup-container > form > div {
        display: flex;
        flex-direction: column;
    }

    .signup-container > form > div:nth-child(3) > p {
        margin-top: 10px;
        width: 300px;
    }

    .signup-container > form > div > label, .signup-container > form > div:nth-child(7) > div > label, .signup-container > form > div:nth-child(11) > div > label {
        margin-bottom: 4px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.28px;
    }

    .signup-container > form > div > input {
        background-color: #fff;
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        width: 95%;
        padding: 12px;
    }

    .signup-container > form > div:nth-child(11) {
        width: 95%;
        flex-direction: row;
        justify-content: space-between;
    }

    .signup-container > form > div:nth-child(11) > div {
        width: 45%;
        display: flex;
        flex-direction: column;
    }

    .signup-container > form > div:nth-child(11) > div > input, .signup-container > form > div:nth-child(11) > div > select {
        background-color: #fff;
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        border-radius: 4px;
        width: 95%;
        padding: 12px;
    }

    .signup-container > form > button {
        background-color: #53CF85;
        color: #fff;
        margin: 0 auto;
        width: 264px;
        padding: 18px 0;
        border-radius: 15px;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}