@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@media(max-width: 480px) {
    .signup-container {
        position: absolute;
        height: 100%;
        width: 100%;
        padding: 50px 15px;
    }

    .signup-container > div {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .signup-container > div > h1 {
        color: #000;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 900;
        letter-spacing: -.5px;
        line-height: normal;

    }

    .signup-container > div > a {
        color: black;
        font-size: 20px;
    }

    .signup-container > form {
        padding: 5px;
        margin-top: 25px;
        height: 85%;
        display: flex;
        flex-direction: column;

    }

    .signup-container > form > div {
        display: flex;
        flex-direction: column;
    }

    .signup-container > form > div > label, .signup-container > form > div:nth-child(7) > div > label, .signup-container > form > div:nth-child(11) > div > label {
        margin-bottom: 4px;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.28px;
    }

    .signup-container > form > div > input {
        background-color: #C4C4C4;
        border-radius: 8px;
        width: 95%;
        padding: 12px;
    }

    .signup-container > form > div:nth-child(11) {
        width: 95%;
        flex-direction: row;
        justify-content: space-between;
    }

    .signup-container > form > div:nth-child(11) > div {
        width: 45%;
        display: flex;
        flex-direction: column;
    }

    .signup-container > form > div:nth-child(11) > div > input, .signup-container > form > div:nth-child(11) > div > select {
        background-color: #C4C4C4;
        border-radius: 8px;
        border-radius: 4px;
        width: 95%;
        padding: 12px;
    }

    .signup-container > form > button {
        background-color: #747474;
        color: #fff;
        margin: 35px auto 0;
        width: 70%;
        padding: 18px 0;
        border-radius: 15px;
        font-family: Inter;
    }
}