.app_header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 11%;
    color: white;
    position: fixed;
    top:0;
    padding-top: 20%;
    z-index: 1;
    background-color: #FDF7ED;
}

@media (min-width: 481px) {
    .app_header {
        padding-top: 0%;
        padding-bottom: 1rem;
    }
    
    .headerLogo {
        display: flex;
        width: 14rem;
        position: fixed;
        top: 0;
        left: 0;
        margin: 2%;
    }

}
