@media (min-width: 481px) {
    .headerLogo {
        display: flex;
        width: 20%;
        height: 10%;
        flex-shrink: 0;
        position: fixed;
        top: 0;
        left: 0;
        margin: 2%;
    }
}
.app_header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 10%;
    color: white;
    position: fixed;
    top:0;
    margin: 2%;
    z-index: 1;
    background-color: #FDF7ED;
}

