.landing-container {
    background: var(--Background-Cream, #FDF7ED);
    padding-top: 8%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.content-container {
    height: 100vh;
    width: 90%;
    max-width: 1000px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desktopLogo {
    width: 20%;
    height: 10%;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    margin: 2%;
}

.mobileLogo {
    display: none;
}

.desktopIntro {
    width: 50%;
    height: 40%;
    flex-shrink: 0;
    margin-bottom: 5%;
}

.landing-container > h1 {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.landing-container > div {
    width: 40%;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.landing-container > p {
    font-size: 20px;
}

.landing-container > div > p {
    padding: 1.5%;
}

.get-started {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    flex-shrink: 0;
    color: #fff;
    background-color: #53CF85;
    text-decoration: none;
    border-radius: 20px;
    margin: 2%;
    padding: 2% 1%;
    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.log-in {
    color: black;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
    text-decoration-line: underline;
}

/* Mobile Styles */
@media (max-width: 480px) {
    .landing-container {
        overflow-y: scroll;
        padding-bottom: 8%;
        padding-top: 0%;
    }

    .content-container {
        min-height: 100%;
        min-width: 100%;
    }

    .mobileLogo {
        border-bottom-left-radius: 3%;
        border-bottom-right-radius: 3%;
        height: 75%;
        width: 100%;
        display: block;
    }

    .desktopLogo, .desktopIntro {
        display: none;
    }

    .content-container > h1 {
        color: #fff;
        width: 60%;
        height: 15%;
        text-align: center;
        font-size: 1.35rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: -90% auto 90%;
        padding-inline-start: 5%;
        z-index: 1;
    }

    .content-container > div {
        width: 98%;
        margin-top: -10%;
        padding: 2%;
    }

    .content-container > div > p {
        width: 100%;
        margin: 0 auto 5%;
        color: #000;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.36px;
    }

    .content-container > div > p:nth-child(2) {
        width: 90%;
    }

    .content-container > a {
        width: 55%;
        margin: 2% auto;
        padding: 4%;
    }

    .landing-container > p {
        color: #3D3C3C;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
    }

    .landing-container > p > a {
        color: #4A4A4A;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }
}
