.login-container, .login-container > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 90%;
    max-width: 800px;
    max-height: 650px;
}

.desktop-login {
    width: 34%;
    height: 50%;
    margin: 2% 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 62%;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.form-group > label {
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.64px;
    align-self: flex-start;
}

.form-group > p {
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.64px;
    align-self: flex-start;
    padding-top: 2%;
}

.form-group > input {
    width: 60%;
    font-size: 1rem;
    border-radius: 3px;
    border: 1px solid var(--Bright-White, #FFF);
    background: var(--Bright-White, #FFF);
    padding: 1% 1.5%;
}

.login-button {
    background-color: #53CF85;
    color: #fff;
    margin: 0 auto;
    width: 20%;
    padding: 2% 1%;
    border-radius: 15px;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 3%;
}

/* Desktop-Specific Styles */
@media (min-width: 481px) {
    .login-container {
        background: var(--Background-Cream, #FDF7ED);
        padding-top: 18%;
        padding-bottom: 10%;
        position: relative;
    }

    .back-button {
        color: black;
        font-size: 1.5rem;
        padding: 2% 10%;
        align-self: flex-start;
    }

    .login-container > h1 {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 900;
        line-height: normal;
    }

    .mobile-login {
        display: none;
    }

    .form-group > label, .form-group > p {
        margin-left: 20%;
    }
}

/* Mobile-Specific Styles */
@media (max-width: 480px) {
    .login-container {
        min-height: 100vh;
        padding: 30% 2% 10% 2%;
        background-color: #FDF7ED;
        display: flex;
        flex-direction: column;
    }

    .content-container {
        height: 100%;
        width: 100%;
    }

    .desktop-login {
        display: none;
    }

    .login-container > h1 {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -.5px;
        line-height: normal;
        text-align: center;
    }

    .back-button {
        color: black;
        font-size: 1.5rem;
        padding: 1% 10%;
        align-self: flex-start;
    }

    .mobile-login {
        display: block;
        margin: 2% auto 2%;
        width: 48%;
        height: 30%;
    }

    .form-container {
        margin-top: 3%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-self: center;
        margin-top: 2%;
    }

    .form-group > label {
        margin-bottom: 2%;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.28px;
    }

    .form-group > input {
        background-color: #fff;
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        width: 97%;
        padding: 3%;
        align-self: center;
    }

    .form-group > p {
        margin-top: 0.5%;
        color: #3D3C3C;
        font-family: Pilcrow Rounded;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        text-decoration-line: underline;
    }

    .login-button {
        background-color: #53CF85;
        color: #fff;
        width: 55%;
        padding: 4%;
        border-radius: 15px;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 8%;
        align-self: center;
    }
}
