.login-container {
    height: 100vh;
    padding: 25% 2% 10% 2%;
    background: var(--Background-Cream, #FDF7ED);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.content-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desktop-login {
    display: none;
}

.content-container > h1 {
    letter-spacing: 0.52px;
}

.back-button {
    color: black;
    font-size: 1.5rem;
    padding-left: 8%;
    align-self: flex-start;
}

.mobile-login {
    margin: 2% auto 2%;
    width: 50%;
    height: 32%;
}

.form-container {
    margin-top: 3%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
}

.form-group > label {
    margin-bottom: 1.5%;
    font-size: 1.2rem;
    letter-spacing: 0.48px;
}

.form-group > input {
    background-color: #fff;
    border: 1px solid var(--Bright-White, #FFF);
    border-radius: 8px;
    font-size: 1.1rem;
    width: 97%;
    padding: 3%;
    align-self: center;
}

.form-group > p {
    margin-top: 0.5%;
    color: #3D3C3C;
    font-size: 1rem;
    text-decoration-line: underline;
}

.login-button {
    background-color: #53CF85;
    color: #fff;
    width: 55%;
    padding: 4%;
    border-radius: 15px;
    font-size: 1.5rem;
    margin-top: 7%;
    align-self: center;
    font-weight: 700;
    letter-spacing: 0.52px;
}

/* DESKTOP STLYES */
@media (min-width: 481px) {
    .login-container {
        padding-top: 18%;
    }

    .content-container {
        max-width: 700px;
        max-height: 650px;
    }

    .content-container > h1 {
        letter-spacing: 0.52px;
        margin-top: -1%;
    }

    .back-button {
        padding-left: 10%;
    }

    .mobile-login {
        display: none;
    }

    .desktop-login {
        display: block;
        width: 38%;
        height: 55%;
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
        width: 65%;
        margin-top: 0%;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    
    .form-group > label {
        font-size: 1.1rem;
        letter-spacing: 0.64px;
        align-self: flex-start;
        margin-left: 19%;
    }
    
    .form-group > p {
        font-size: 0.8rem;
        letter-spacing: 0.64px;
        align-self: flex-start;
        margin-left: 20%;
    }
    
    .form-group > input {
        width: 60%;
        font-size: 1rem;
        padding: 1.5% 2%;
    }
    
    .login-button {
        width: 20%;
        padding: 2% 1%;
        font-size: 1.2rem;
        margin-top: 5%;
    }
}
