.container {
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #FDF7ED;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 100px;
}

.toast-container {
    width: 15rem !important;
    font-size: 1.2rem !important;
    font-weight: 700 !important;
    text-align: center !important;
    margin-left: 18% !important;
    margin-top: 5% !important;
}

.shadow {
  border-radius: 0 0 1rem 1rem;
  background: var(--Brick, #FA7F39);
  position: absolute;
  top: 0;
  left: 0;
  height: 6rem;
  width: 100%;
  z-index: 0;
}

.back-btn{
  position: absolute;
  left: 10%;
  top: 15%;
  font-size: 1.5rem;
  z-index: 1;
}

.text-brick{
  color: #FA7F39;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  position:relative;
  margin-top: 40px;
}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.birthday {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  margin: 4% 1%;
  padding: 3%;
  border-radius: 0.6rem !important;
  border: 1px solid var(--Soft-Border-Gray, #D9D9D9);
}

.bio {
    font-size: 1rem;
    padding-inline-start: 1rem;
    width: 80%;
    white-space: normal;
    word-wrap: break-word;
}

.gift-preference,
.gift-recommendations {

  min-height: 100px;
}

.gift-types {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.gift-type-btn {
  width: 92.205px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--Soft-Border-Gray, #D9D9D9);
  background: var(#ffffff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gift-type-btn.active {
  background: var(--Background-Cream, #FDF7ED);
}

.gift-type-btn__image--experiences {
  width: 57.628px;
  height: 40px;
  flex-shrink: 0;
  background: url("../assets/icons/friendDetail/experience.png"), rgba(0, 0, 0, 0) 50% / contain no-repeat;
}

.gift-type-btn__image--presents {
  width: 57.628px;
  height: 50px;
  flex-shrink: 0;
  background: url("../assets/icons/friendDetail/presents.png"), rgba(0, 0, 0, 0) 50% / contain no-repeat;
}

.gift-type-btn__image--donations {
  width: 57.628px;
  height: 50px;
  flex-shrink: 0;
  background: url("../assets/icons/friendDetail/donation.png"), rgba(0, 0, 0, 0) 50% / contain no-repeat;
}

.gift-type-btn__text {
  color: var(--Primary-Text, #3D3C3C);
  text-align: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin: 0.7rem 0;
}

.tags > button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.4rem;
        background-color: #53CF85;
        cursor: pointer;
        position: relative;
        color: #FDF7ED;
        text-transform: capitalize;     
}

.edit-btn {
  margin-top: 20px;
  display: block;
}

.description {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.border {
  border-right: 1px solid #D9D9D9;
}

.tab-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
  border-radius: 1rem;
}

.tab-container span {
  padding: 3%;
  cursor: pointer;
  color: #3D3C3C;
  font-size: 1rem;
}

.tab-container span.active-tab {
  color: black;
  text-decoration: underline;
  font-size: 1.2rem;
}


.fav-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
}

.personalized-recs--container {
  background-color: #ffffff;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  margin-top: 4%;
  min-height: 469px;
  padding: 2%;
  border: 1px solid var(--Soft-Border-Gray, #D9D9D9);
  box-shadow: 1px 2px var(--Soft-Border-Gray, #D9D9D9);
}

.personalized-recs--container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.personalized-recs--grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 24px;
  padding: 24px;
}

.grid-item {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 5px;
}

.product-pic {
  height: 128px;
  width: 128px;
  border-radius: 8px;
  border: 1px solid var(--Soft-Border-Gray, #D9D9D9);
  background: var(--White, #FFF);
  flex-shrink: 0;
  position: relative;
  object-fit: cover;
}


.product-heart {
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  background-color: #FDF7ED;
  border: 2px solid #D9D9D9;
  display: flex;
  justify-content: space-around;
  padding-top: 3px;
}

.product-name {
  font-size: 16px;
  font-weight: 500;
}

.product-price {
  font-size: 14px;
  font-weight: 400;
}

.no-tags-text{
  text-align: center;
  margin-top: 100px;
}

.action-btn{
  display:flex;
  flex-direction: column;
}

.spinner-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.settings {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 2%;
    right: 8%;
    cursor: pointer;
}

.settings > img {
    width: 2rem;
    height: 2rem;
}

/* DESKTOP STYLES */
@media (min-width: 481px) {
    .container {
        display: flex;
        justify-content: center;
    }

    .profile-header {
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .content-container {
        width: 90%;
        max-width: 850px;
    }

    .toast-container {
        margin-top: 0% !important;
        margin-left: 0% !important;
    }

    .shadow {
        display: none;
    }

    .profile {
        align-self: flex-start;
        margin-top: 5%;
    }

    .profile > h2 {
        text-transform: capitalize;
        font-size: 1.8rem;
        padding: 0.3rem;
    }

    .bio {
        font-size: 1.2rem;
    }

    .back-btn {
        top: 8%;
        left: 15%;
    }

    .profile-pic {
        width: 7.5rem;
        height: 7rem;
        margin-top: 5%;
    }

    .birthday {
        align-self: flex-end;
        justify-content: space-evenly;
        width: 40%;
        margin-right: 3%;
        margin-bottom: 3%;
    }

    .description {
        font-size: 1.2rem;
    }


    .active-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .card {
        margin: 2% 1%;
        padding: 2%;
        width: 80%;
        align-self: center;
    }

    .personalized-recs--container {
        margin-top: 2%;
        width: 80%;
        align-self: center;
    }

    .tab-container {
        margin-top: 1%;
        justify-content: space-evenly;
        margin: 0 2%;
    }

    .tab-container span {
        padding: 1%;
        margin-top: 1%;
    }

          
    .action-btn {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
      }

      .tags > button {
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
      }
    
      .settings {
        top: 5%;
        right: 20%;
        font-size: 1.1rem;
      }
      
}