.signup-container {
    min-height: 100vh;
    padding: 30% 2% 5% 2%;
    background: var(--Background-Cream, #FDF7ED);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.content-container > h1 {
    color: #3d3c3c;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.back-button {
    color: black;
    font-size: 1.2rem;
    padding-left: 8%;
}

.form-container {
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group > p {
    margin-top: 2%;
    width: 98%;
    padding-inline-start: 2%;
    font-size: 0.8rem;
    letter-spacing: 0.6px;
}

.form-group > label {
    margin-bottom: 1%;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.48px;
    padding-inline-start: 1%;
}

.form-group > input {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 1rem;
    width: 95%;
    padding: 2.5%;
    align-self: center;
}

.selector {
    background-color: #fff;
    width: 95%;
    align-self: center;
    border-radius: 8px !important;
}

.selector > div {
    padding: 2.5%;
}

.signup-button {
    background-color: #53CF85;
    color: #fff;
    width: 40%;
    padding: 4%;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: 700;
    align-self: center;
    letter-spacing: 0.52px;
    border: none;
}

/* DESKTOP STLYES */
@media (min-width: 481px) {
    .signup-container {
        padding-top: 12%;
        padding-bottom: 8%;
        justify-content: center;
        align-items: center;
    }

    .content-container {
        width: 50%;
        max-width: 800px;
        max-height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .back-button {
        font-size: 1.5rem;
        align-self: flex-start;
        padding-top: 5%;
    }

    .signup-container > h1 {
        text-align: center;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .form-select-section {
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-self: center;
        gap: 5%;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: stretch;
    }

    .form-group > label {
        font-size: 1rem;
        letter-spacing: 0.64px;
    }

    .form-group > input {
        width: 95%;
        font-size: 1rem;
        border: 1px solid var(--Bright-White, #FFF);
        background: var(--Bright-White, #FFF);
        padding: 1.5%;
    }

    .form-group > p {
        margin-top: 1%;
        padding-inline-start: 1%;
    }

    .signup-button {
        width: 35%;
        padding: 2.5%;
        margin-top: 1%;
    }
}
